// HEADER STYLES

// .is-hidden {
//     display: none;
// }

.main-nav {
  position: relative;
  height: 100%;
//   padding: 15px 30px;
  //   overflow: hidden;
}

.nav-container {
    // z-index: 1;
  @media screen and (max-width: 425px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: $backgroundColor;
  }
}

.logo {
  transition: scale $transformTime $traformCub;
  &:hover .logo__img {
    scale: 0.9;
  }
  &:focus .logo__img {
    scale: 0.9;
  }
}

.logo__img {
  @media screen and (max-width: 425px) {
    width: 180px;
    height: 24px;
  }
}

.menu-toggle {
  display: block;
  &:hover,
  &:focus {
    scale: 0.8;
    transition: scale $transformTime $traformCub;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu-toggle > svg {
  width: 24px;
  height: 24px;
}

.navigation {
  position: absolute;
  opacity: 1;
//   transform: scaleX(1) scaleY(0);
  transform: translate(50%, 0%);
  transition: all $transformTime $traformCub;
//   z-index: -1;

  &.is-hidden {
    opacity: 0;
    // transform: scaleX(1) scaleY(1);
    transform: translate(50%, -100%);
    // display: none;
  }
}

.navigation__item > a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding: 15px 0px;
  text-align: center;
  color: $textColorFirst;
  transition: scale $transformTime $traformCub;
  &:hover,
  &:focus {
    scale: 0.9;
  }
}

.user-btn {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  font: inherit;
  font-size: inherit;
  font-style: inherit;
  color: $textColorFirst;
  background-color: $buttonColor;
  border-radius: 25px;
  margin: 15px auto;
  &:hover,
  &:focus {
    scale: 0.9;
    transition: scale $transformTime $traformCub;
  }
}

.user-btn > svg {
  margin-right: 12px;
}



// HERO SECTION

.hero {
    height: 500px;
    background-color: aqua;
}
