<header class="header container">
  <nav class="main-nav">
    <div class="nav-container">
      <a class="logo" href="#">
        <svg class="logo__img">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
      <button class="menu-toggle">
        <svg width="24px" height="24px">
          <use href="./images/sprite.svg#menu-toggle"></use>
        </svg>
      </button>
    </div>
    <div class="menu__container">
      <ul class="navigation is-hidden">
        <li class="navigation__item">
          <a href="#">Marketplace</a>
        </li>
        <li class="navigation__item">
          <a href="#">Rankings</a>
        </li>
        <li class="navigation__item">
          <a href="#">Connect a wallet</a>
        </li>
        <li class="navigation__item">
          <button class="user-btn" type="button">
            <svg width="20px" height="20px">
              <use href="./images/sprite.svg#user-logo"></use>
            </svg>
            sing-up
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class="hero container">
  <h1 class="hero__header">Discover digital art & Collect NFTs</h1>
  <p class="hero__description">
    NFT marketplace UI created with Anima for Figma. Collect, buy and sell art
    from more than 20k NFT artists.
  </p>
  <div class="hero__card"></div>
  <button class="start-btn" type="button">
    <svg width="20px" height="20px">
      <use href="./images/sprite.svg#rocket"></use>
    </svg>
    Get Started
  </button>
  <ul class="hero__abilyty">
    <li class="abilyty__item">
      <span>240k+</span>
      <span>Total Sale</span>
    </li>
    <li class="abilyty__item">
      <span>100k+</span>
      <span>Auctions</span>
    </li>
    <li class="abilyty__item">
      <span>240k+</span>
      <span>Artists</span>
    </li>
  </ul>
</section>
