<section class="hero container">
  <h1 class="hero__header">Discover Digital Art & Collect NFTs</h1>
  <p class="hero__description">
    NFT marketplace UI created with Anima for Figma. Collect, buy and sell art
    from more than 20k NFT artists.
  </p>
  <div class="hero__card"></div>
  <button class="start-btn" type="button">
    <svg width="20px" height="20px">
      <use href="./images/sprite.svg#rocket"></use>
    </svg>
    Get Started
  </button>
  <ul class="hero__abilyty">
    <li class="abilyty__item">
      <span>240k+</span>
      <span>Total Sale</span>
    </li>
    <li class="abilyty__item">
      <span>100k+</span>
      <span>Auctions</span>
    </li>
    <li class="abilyty__item">
      <span>240k+</span>
      <span>Artists</span>
    </li>
  </ul>
</section>


